<!DOCTYPE html>
<html>
<head>
    <title>Prototype</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
</head>
<body>

<div id="component"></div>

<script>
    
    var socket = new WebSocket('ws://' + window.location.host + '/streams/');

    socket.onopen = function open() {
        console.log("WebSocket connection created");
    }

    socket.onmessage = function message (event) {

        console.log("Received data...")
        var data = JSON.parse(event.data);

        var stream = data['name'];
        var stream_tag = $('div').filter(function(){
            return $(this).data('stream') == stream;
        });

        stream_tag.children()[1].innerHTML = "Status: " + data['status'];
        stream_tag.children()[2].innerHTML = "Live: " + data['live']
  
    }


    if (socket.readyState == WebSocket.OPEN) {
        socket.onopen();
    }

</script>
<script src="{% static 'js/ChatBox.js' %}" type="text/babel"></script>
<script type="text/babel">
    
    ReactDOM.render(
        <ChatBox />,
        document.getElementById('chatbox')
    )

</script>

</body>
</html>